@import 'tailwindcss';

:root {
  --background: #f8f8f8;
  --foreground: #3d3d3d;
  --primary-700: #2497a9;
  --primary-100: #dff5f8;
  --neutral-200: #dcdcdc;
  --neutral-400: #989898;
  --neutral-500: #7c7c7c;
  --neutral-800: #464646;
  --black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-grayLight: #f0f0f0cc; /* abu lembut transparan */
  --color-grayDark: #3d3d3d; /* abu tua */
  --color-grayMid: #d9d9d9; /* abu medium */
  --color-bgMain: #f8f8f8; /* background utama */
  --color-primaryGradientStart: #2ab2c7;
  --color-primaryGradientEnd: #0e9db3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background);
    --foreground: var(--foreground);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-primary-100 {
  background-color: var(--primary-100);
}

.bg-primary-700 {
  background-color: var(--primary-700);
}

.text-neutral-500 {
  color: var(--neutral-500);
}

.text-neutral-400 {
  color: var(--neutral-400);
}

.text-neutral-800 {
  color: var(--neutral-800);
}

.text-black {
  color: var(--black);
}

.outline-neutral-200 {
  outline-color: var(--neutral-200);
}

.bg-neutral-200 {
  background-color: var(--neutral-200);
}
